################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MICA_WEB/.vs/MICA_WEB
/MICA_WEB/MICA_WEB/bin
/MICA_WEB/MICA_WEB/obj/Debug
